datasets
results
*.pyc
__pycache__/
flowdiffusion/tensorflow-24.03-tf2-py3.simg
outputs
exps/*
data/*
pretrained/*
slurm_scripts

pretrained/MAE/*
square_d0
square_d0.zip
ccv_log
wandb
lightning_logs
logs
SSL_final_project